/*
	Stylesheet for color scheme

	Color Scheme: Dark
	Color: Red #3fbeef

*/

a, a:visited{color:#ccc;}
a:hover, a:focus {color:#3fbeef;}

::selection {
	color: white;
	background: #3fbeef;
}

.highlight1{color:white; background:#3fbeef!important;}
.highlight2{border-bottom: 1px dotted #3fbeef!important;}

.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #3fbeef; /* Old browsers */		
	border:1px solid #3fbeef;
}

body{color:#999!important;}

h1, h2, h3, h4, h5, h6 {
	color: #949494;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#3fbeef!important;}

div.white h1, div.white h2, div.white h3, div.white h4, div.white h5, div.white h6{color:#333;}

body,
.header,
.band.navigation{background: url("../../images/zigzag.png");}

.content{background:url("../../images/content_bg4.png");}

.box { background:#eee; border:1px solid #ccc;}

.band.navigation {	
	color: #e0e0e0; 	
}

.band.footer {
	color: #464646; 
	border-top:1px solid #3fbeef;
}

.band.bottom {
	/*background: url(../../images/stitch_staggered.png) left top repeat-x,
				url(../../images/zigzag.png) repeat,
				#343434;	*/
	color: #e0e0e0;
	background:#3fbeef;
}

/*ie multiple background image fallbacks*/
.ie .band.navigation {
	background: url(../../images/bg_dark.png) repeat left 2px #343434;
}
.ie .band.footer {
	background: url(../../images/bg_dark.png) repeat left 2px #343434;
}
.ie .band.bottom {
	background: url(../../images/bg_bottom.png) repeat #343434;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#3fbeef!important;	
}

#nav{border-bottom: 1px solid #333;}

nav.primary ul li a {
	color: #999;
}

nav.primary ul li a:hover {
	background: #424242;
	color:#3fbeef;	
}

/*sub menu*/
nav.primary ul ul {
	/*background: url(../../images/bg_bottom.png);*/
	background:#fffff;
}


nav.primary ul ul li {
	border-bottom: 1px solid #fafafa;
	background:#666;
	color:white;
}

nav.primary ul ul li a {
	color:white;
}

nav.primary ul li:hover > a,  nav.primary ul li a.active{
	background: #3fbeef;
	color: white;
}


#tooltip, #colourTooltip {
	background: 
	black;
	color: 
	white;

}




	
h1.logo a {
	
	background: url(../../images/logo_light.png) no-repeat;
	

}


/*images*/
figure {
	
	border: 1px solid #ededed;
	background: #ffffff;
	
}

/*services tiles - home page*/
.webtile{
	background: url("../../images/web_tile_blue.png") no-repeat 50%;
}
.mobitile{
	background: url("../../images/mobile_tile_blue.png") no-repeat 50%;
}
.desktoptile{
	background: url("../../images/desktop_tile_blue.png") no-repeat 50%;
}
.seotile{
	background: url("../../images/speaker_tile_blue.png") no-repeat 50%;
}

/*Blog Articles on Home Page*/
#blog-section-home article{

	border-bottom: 1px solid #333;	

}

#blog-section-home article h5 {
	background: #34353D;
	border-bottom: 1px solid #484955;
	border-right: 1px solid #484955;
	border-top: 1px solid #484955;
	color: white;

}

#blog-section-home article h4, #blog-section-home article h5 a {
	color: white !important;
}


#blog-section-home article h4 {
	background: #3fbeef;	
	color: white;

}

/*blog styles - thumbnail articles, featured image articles, no image articles, single post*/
#blog-section article{
	border-bottom: 1px solid #333;
}
#blog-section article h5 {
	background: #34353D;
	border-bottom: 1px solid #484955;
	border-right: 1px solid #484955;
	border-top: 1px solid #484955;
	color: white;

}

#blog-section article h5 a {
	color: white !important;
	
}


#blog-section article h4 {
	background: #3fbeef;	
	color: white;

}


/*blog sidebar*/
.widget{
	background:#f1f1f1;

}


.widget ul li a{ color:#3fbeef;}


.widget h5{
	color:#333;
	background:	#D5D5D5 url('../../images/cat_icon_blue.png') no-repeat 10px center;

}


.sidebar ul.tabs-content li ol.postlist li,
.sidebar ul.tabs-content li.active ol.postlist li,
ol.postlist li{padding: 0px;

border-bottom: 1px dotted #ccc;}



#related-posts h5{
	background: url('../../images/related_icon_blue.png') no-repeat 0px center;
	color: #ccc;
	border-bottom: 1px solid #666;
}

#related-posts ul {background: #333;}


#comments h5{
	background: url('../../images/comments_icon_blue.png')no-repeat 0px center;
	color: #ccc;
	border-bottom: 1px solid #666;
}



#previous-comments>ul>li{border-top:1px dotted #666;}



hr {
	
	border-bottom: 1px dashed #333;
	
}

.divider {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid white;

}



/*Pricing Table*/
.pricingcol{background: #eee;}
.preferred{border: 1px solid #3fbeef;}
.profitable{color:white; background:#3fbeef;}
.profitable h1,.profitable h2,.profitable h3,.profitable h4,.profitable h5,.profitable h6{color:white;}
.profitable div.divider{
	border-bottom: 1px solid white;}





.ei-slider-loading{

    background: rgba(0,0,0,0.9);
    color: #fff;

}



.ei-title{

    background: url('../../images/stitch_large.png') repeat-y top right #dadada;

}

.ei-title h2{

    color: #303030;
    text-shadow: #CCC 0 1px 0px;
    
}
.ei-title h3{

    color: #000;
}

.ei-slider-thumbs li.ei-slider-element{

    background: #3fbeef;
}
.ei-slider-thumbs li a{

    background: #6e6e6e;
    
    box-shadow:
        0px 1px 1px 0px rgba(0,0,0,0.3),
        0px 1px 0px 1px rgba(255,255,255,0.5);
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
    background-color: #f0f0f0;
}

	
	.flex-control-nav li a {

		background: #363636;
		border: 1px solid #363636;

	}
	
	.flex-control-nav li a.active,
	.flex-control-nav li a:hover {
		background: #3fbeef;
		border: 1px solid #363636;
	}
	
	.prev{ background: #5e5e5e url('../../images/prev_icon.png') no-repeat;
			}
	.next{ background: #5e5e5e url('../../images/next_icon.png') no-repeat;
			}
	
	a.prev:hover, a.next:hover{background-color:#3fbeef;}



/*articles*/
article.sub header {
	background: url(../../images/diagonal_pale.png) repeat;

}



article.sub header h4 {
	
	color: #999999;

	background: url(../../images/bg_main.png) repeat #f8f8f8;

}


footer.bottom a,
footer.bottom a:visited {
	color: #222;
}

footer.bottom a:hover {
	color: #fcfcfc;

}


footer a,
footer a:visited {
	color: #6e6e6e;
}

footer a:hover {
	color: #3fbeef;

}

footer h3.logo {
	margin: 13px 0 21px;
}

footer h3.logo a {

	background: url(../../images/sprite.png) no-repeat 0 -50px;

}

footer.main div.footer_title {

	background: #3fbeef;

}

footer.main div.footer_title h4 {

	color: white;

}

/*lists*/
footer.main li {


	background: url(../../images/stitch_staggered.png) repeat-x left bottom;
	}
	


/*flickr*/
div.flickr_feed img {

	border: 1px solid #ededed;
	background: #ffffff;
}


div.bio{
 
	background: #313131; 

}

p.name{ font-size: 15px; color: #fcfcfc;}

p.occupation{ color:#fafafa;}

a.more{
	background:url("../../images/icon_more_blue.png") no-repeat; 

}
/*Portfolio*/
#portfolio-nav li{
	
	background: #f6f6f6;
	
}

#portfolio-nav li:hover{background:#3fbeef;}

#portfolio-nav li:hover a{color:#fff;}

#portfolio-nav li.current {background:#3fbeef;}

#portfolio-nav li a{ color:#5e5e5e; 

}

#portfolio-nav li a:hover{color:#fff;}

#portfolio-nav li.current a{color: #ffffff;}



#portfolio li img{
	/*border:4px solid #afafaf;*/
}



ul#portfolio-2col li .inner-item h4, ul#portfolio li .inner-item h4{

	background:#3fbeef;
	color:#fff;

}

ul#portfolio-2col li .inner-item div.text, ul#portfolio li .inner-item div.text{

	background:#fefefe;

}



ul#portfolio-2col li .inner-item div.text h3, ul#portfolio li .inner-item div.text h3{


	color:#313030;
}

ul#portfolio-2col li .inner-item div.text p, ul#portfolio li .inner-item div.text p{

	color:#595858;
	
}




#featured-work-item{max-height:380px; 
	background: #fff;
	
	border:1px solid #ccc;
}





#featured-work-item .prev{background: #aaa url('../../images/bg-arrow-sm.png') no-repeat 8px center;}
#featured-work-item .next{background:#aaa url('../../images/bg-arrow-sm.png') no-repeat -25px center;}

#featured-work-item .prev:hover, #featured-work-item .next:hover{background-color: #3fbeef;}



#related-works h4{
color: #ccc;
border-bottom: 1px solid #ccc;}



#related-works ul li a span, a.tile span{
	background: #3fbeef;
	color: black;
}


ul.categories li {
	border-bottom: 1px dashed #e5e5e5;

}



ul.categories li a:hover {
	background: #ffffff;
}



ul.tabs li a.active {

	background: #3fbeef;
	color: white;

}

.tabs-content li {

	border: 1px solid #DDD;

}





.icon.rss {
	color: #ef7908;
}

.icon.twitter {
	color: #39bae6;
}





nav.pagination li a {

	border-bottom: 3px solid #cccccc;

}

nav.pagination li a:hover,
nav.pagination li a.selected {
	background: #ffffff;

	color: #3fbeef;
}

/* #Page Styles
================================================== */

/*Typography*/
div.band h4{color:#999; text-shadow: none;}


div.band h4.sub-meta a:hover{ color:#3fbeef;}


h3.sectionhead {

	border-bottom:1px solid #333;

}
.about {background:url(../../images/about_icon_blue.png) no-repeat 0 7px;}

.portfolio{background:url(../../images/portfolio_icon_blue.png) no-repeat 0 7px;}

.articles{background:url(../../images/blog_icon_blue.png) no-repeat 0 7px;}

.typography{background:url(../../images/typo_icon_blue.png) no-repeat 0 7px;}

.controls{background:url(../../images/controls_icon_blue.png) no-repeat 0 7px;}

.table{background:url(../../images/table_icon_blue.png) no-repeat 0 7px;}

h1.pageTitle
{
	border-bottom: 2px solid #3fbeef;	
	background: #333;
	color: #A4A4A4!important;

}

p.blockquote { border-left:2px solid #3fbeef; }

blockquote{ border-left: 1px solid #3fbeef; }

blockquote.right{ border-right:1px solid #3fbeef!important; }

/*Contacts*/
.address{ background:url('../../images/address_icon_blue.png') no-repeat; padding-left:30px;}

.phone{ background:url('../../images/phone_icon_blue.png') no-repeat 4px 3px; padding-left:30px; color:#3fbeef;}

.email{ background:url('../../images/email_icon_blue.png') no-repeat 4px 9px; padding-left:30px;padding-top: 3px;}