<div class="band mb100" id="about">
	
	<div class="container">
		<a class="full-width button" href="10-reasons-employees-leave-a-company.html">10 Reasons Why Employees Are Leaving</a>
		<h3 class="sectionhead about">About Luke Weatherlow</h3>
		<div class="sixteen columns">	
			<h4>Overview</h4>
			<div class="justify">										
				<p>Hey I'm Luke, I create products for people who HATE marketing their businesses online. I help them make marketing a less scary term and get better results. When I'm not creating irresistible marketing campaigns and teaching my clients the best marketing techniques I can be found at the gym or spending time with my 2 year old daughter. If you're serious about helping your customers online contact me at <a href="mailto:luke@picklesofwar.com">luke@picklesofwar.com</a></p>
			</div><!--end justify-->    			    			  				
			
			<h4>Services</h4>				
			<div class="four columns service-item mt10 alpha">									
				<div class="service_tile webtile">webdesign</div>
				<h4>Web design</h4>
				<p>With over 6 years of experience and over 200+ websites designed / managed, no project is too large.</p>	
				<a href="#" class="button thin">Read more...</a>						
			</div>
			<div class="four columns service-item mt10">					
				<div class="service_tile mobitile">consultation</div>
				<h4>Consultation</h4>				
				<p>Need a marketing strategy but can't hire a full fledged marketing coordinator? I offer marketing consultations and strategy to get your company growing.</p>	
				<a href="#" class="button thin">Read more...</a>		
			</div>
			<div class="four columns service-item mt10">
				<div class="service_tile desktoptile">management</div>
				<h4>Management</h4>
				<p>Managing creatives can be challenging at times. Demanding flexibility and input is a must for any long term employee. Together we can keep employees happy and growing.</p>	
				<a href="#" class="button thin">Read more...</a>					
			</div>
			<div class="four columns service-item mt10 clearfix omega">
				<div class="service_tile seotile">seo</div>
				<h4>SEO</h4>
				<p>Google Analytics, Organic SEO, Pay Per Click, Reporting, Monthly ebbs and flows... Together we can master your website and increase its potential by removing roadblocks. </p>		
				<a href="#" class="button thin">Read more...</a>				
			</div>			
		</div><!--end sixteen-->			
	</div><!--end container-->
	
	</div><!--end band-->