<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600' rel='stylesheet' type='text/css'>

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ site.baseurl }}css/base.css">
	<link rel="stylesheet" href="{{ site.baseurl }}css/skeleton.css">
	<link rel="stylesheet" href="{{ site.baseurl }}css/layout.css">		

	<!--Default Color - Blue on Light -->
	
	<link rel="stylesheet" href="{{ site.baseurl }}css/themes/light-blue.css" title="lightblue">	

	<!--Light Skin Colors-->
	<link  rel="alternate stylesheet" href="{{ site.baseurl }}css/themes/dark-red.css" title="darkred">

	
	<script src="{{ site.baseurl }}javascript/modernizr-2.5.3.min.js"></script>

	<script type="text/javascript"  src="{{ site.baseurl }}javascript/jquery-1.7.1.min.js"></script>
	<script type="text/javascript"  src="{{ site.baseurl }}javascript/plugins.all.js"></script>	
	<script type="text/javascript" src="{{ site.baseurl }}javascript/jquery.address-1.4.min.js"></script>	
	<!--Flex Slider-->
	<script src="{{ site.baseurl }}javascript/jquery.flexslider-min.js"></script>

	<!--PrettyPhoto-->
	<link rel="stylesheet" href="{{ site.baseurl }}css/prettyPhoto.css" type="text/css" media="screen"/>
	<script type="text/javascript" src="{{ site.baseurl }}javascript/jquery.prettyPhoto.js"></script>	

	<!--Superfish menu-->
	
	<link rel="stylesheet" media="screen" href="{{ site.baseurl }}css/superfish.css" /> 
	 
	
	<script src="{{ site.baseurl }}javascript/jquery.hoverIntent.minified.js"></script> 
	<script src="{{ site.baseurl }}javascript/superfish.js"></script> 
	<script src="{{ site.baseurl }}javascript/supersubs.js"></script> 	
	
	<!--Scripts - More in footer-->	
	
	<script type="text/javascript">
		//------ Keep track of whether the navigation is fixed in place.
		var SNAPPED = false;
		var SCROLLELEMENT = 'html, body';
		var SCROLLPADDING = 0;
		function scrollToElement(el) {				
			$(SCROLLELEMENT).stop().animate(
				{ scrollTop: el.offset().top - SCROLLPADDING }, 
				600
			);	
		}

		//In Page Scroll, Portfolio filter
		$(document).ready(function($) {	
			//prettyphoto
			$("a[class^='prettyPhoto']").prettyPhoto({social_tools:false});

			//Superfish menu
			$("ul.sf-menu").supersubs({ 
	            minWidth:    12,   // minimum width of sub-menus in em units 
	            maxWidth:    50,   // maximum width of sub-menus in em units 
	            extraWidth:  3 // extra width can ensure lines don't sometimes turn over 
	                               // due to slight rounding differences and font-family 
	        }).superfish();  // call supersubs first, then superfish, so that subs are 
	                         // not display:none when measuring. Call before initialising 
	                         // containing tabs for same reason. 

			//flex slider
			$('.flexslider_small').flexslider({
				directionNav:false,
				controlNav:true,
				slideshow: true,
			});

			//Tooltips
			function showSocialToolTip(e, img){
				var path = "images/" + img;
				$('#tooltip').css({'top':e.pageY+10, 'left':e.pageX-110, 'background':'none'});
				$('#tooltip').html('<img src="' + path + '" alt="tooltip">');	
				$('#tooltip').show();	
			}
				
			function hideSocialToolTip(){
				$('#tooltip').hide();
			}
			function moveSocialToolTip(e){
				$('#tooltip').show();
				$('#tooltip').css({'top':e.pageY+10, 'left':e.pageX-110});
			}

			$('.facebook').on('mouseenter', function(e){
				$(this).find('img').attr('src', 'images/facebook_roll.png');
				showSocialToolTip(e, $(this).attr('data-tooltip'));
			});
			
			$('.facebook').on('mouseleave', function(e){
				$(this).find('img').attr('src', 'images/facebook.png');
				hideSocialToolTip();
			});
			
			$('.facebook').on('mousemove', function(e){
				moveSocialToolTip(e);
			});
			
			$('.twitter').on('mouseenter', function(e){
				$(this).find('img').attr('src', 'images/twitter_roll.png');
				showSocialToolTip(e, $(this).attr('data-tooltip'));
			});
			
			$('.twitter').on('mouseleave', function(e){
				$(this).find('img').attr('src', 'images/twitter.png');
				hideSocialToolTip();
			});
			
			$('.twitter').on('mousemove', function(e){
				moveSocialToolTip(e);
			});
			
						
			$('.flickr').on('mouseenter', function(e){
				$(this).find('img').attr('src', 'images/flickr_roll.png');
				showSocialToolTip(e, $(this).attr('data-tooltip'));
			});
	
			$('.flickr').on('mouseleave', function(e){
				$(this).find('img').attr('src', 'images/flickr.png');
				hideSocialToolTip();
			});
			
			$('.flickr').on('mousemove', function(e){
				moveSocialToolTip(e);
			});		

			//address change
			$.address.change(function(event) {				
				//------ Retrieve element at first path component.
				//------ Scroll to point.
				if(event.pathNames[0]) {
					//------ Other points.
					scrollToElement($("#" + event.pathNames[0]));
					$.address.title("PicklesofWar - " + event.pathNames[0].toUpperCase());
				}
			});
			//-------Portfolio filter function
			$('ul#portfolio-nav a').click(function() {  
				$(this).css('outline','none');  
				$('ul#portfolio-nav .current').removeClass('current');  
				$(this).parent().addClass('current');  
		  
				var filterVal = $(this).text().toLowerCase().replace(/ /g,'-');
		  
				if(filterVal == 'all') {  
					$('ul#portfolio li.hidden').fadeIn('slow').removeClass('hidden');  
				} else {  
					$('ul#portfolio li').each(function() {  
						if(!$(this).hasClass(filterVal)) {  
							$(this).fadeOut('normal').addClass('hidden');  
						} else {  
							$(this).fadeIn('slow').removeClass('hidden');  
						}  
					});  
				}  
		  
				return false;  
			});		
			//------ Setup in-page scrolling for .internal links.
			$('.internal').click(function(event) {
				event.preventDefault();
				//------ Retrieve subject, trading on the fact that selector & named anchor syntax both use leading # symbols.
				var target = $(this.hash);
				if(target.length && this.hash) {
					//------ Allow the user to scroll and still make use of the navigation...
					var before = $.address.value();
					$.address.value(target.attr('id'));
					//------ ...Manually invoke if there is no change event.
					if(before == $.address.value()) scrollToElement(target);
				} else {
					$.address.value($(this).attr('href'));
				}
				
				//Set class to 'active'
				if ($(this).hasClass('active'))
				{
                   $(this).removeClass('active');
                }
				else 
				{
                   $(this).parents().siblings().find('a').removeClass('active');
                   $(this).addClass('active');
				}
				return false;				
			});
			//Tiles hover animation
			$('.tile').each(function(){
			var $span = $(this).children('span');
			$span.css('bottom', "-"+$span.outerHeight()+'px');
			});
			
			var bottom = 0;
			
			$('.tile').hover(function(){
				var $span = $(this).children('span');
				if(!$span.data('bottom')) $span.data('bottom',$span.css('bottom'));
				$span.stop().animate({'bottom':0},250);
			},function(){
				var $span = $(this).children('span');
				$span.stop().animate({'bottom':$span.data('bottom')},250);
			});
		});	
	</script>	
	
	<script type="text/javascript" src="{{ site.baseurl }}javascript/jquery.all.libraries.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}javascript/sliders.js"></script>	
</head>
