<div class="band mt25 mb100" id="portfolio-section">
		<div class="container">
			<!--portfolio navigation-->	
			<h3 class="sectionhead portfolio">My Work</h3>				
			<div class="sixteen columns clearfix">		
				<h4 class="sub-meta">Shown below is our featured work across several categories. For full detailed portfolio with our complete works <a href="#">see our portfolio page</a>.</h4>			
				<div class="section-nav filterable">    
					<ul id="portfolio-nav">
						<li class="current"><a href="#">All</a></li>
						<li><a href="#">Web</a></li>
						<li><a href="#">Print</a></li>
					</ul><!--end portfolio navigation-->
				</div>
			</div>
			<hr>
			<!--portfolio items-->
			<div class="sixteen columns">
				<ul id="portfolio">  
					<li class="web">  
						<div class="inner-item" style="display: block; float: left; ">
							<a href="10-reasons-employees-leave-a-company.html">
								<img src="images/300x200/1.jpg" alt="" style="height: 100%; width: auto; display: block; margin-top: 0px; ">
							</a>
							<a href="#" >
								<h4 style="bottom: 0px; ">Article</h4>
							</a>
							<div class="text" style="visibility: visible; overflow: hidden; height: 0px; ">
								<a href="10-reasons-employees-leave-a-company.html">
									<h3>10 Reasons Why</h3>
								</a>
								<p>Employees Are Leaving</p>
							</div>							
						</div> 
					</li>  
					<li class="print">  
						<div class="inner-item" style="display: block; float: left; ">
							<a href="images/640x480/2.jpg"   class="prettyPhoto" title="BMR Customs - Logo Design | Freelance">
								<img src="images/300x200/2.jpg" alt="" style="height: 100%; width: auto; display: block; margin-top: 0px; ">
							</a>
							<a href="#" >
								<h4 style="bottom: 0px; ">Print</h4>
							</a>
							<div class="text" style="visibility: visible; overflow: hidden; height: 0px; ">
								<a href="#" >
									<h3>BMR Customs</h3>
								</a>
								<p>Logo Design | Freelance</p>
							</div>							
						</div> 
					</li>  		
					<li class="print">  
						<div class="inner-item" style="display: block; float: left; ">
							<a href="images/640x480/3.jpg"   class="prettyPhoto" title="BMR Customs - Stationary Set | Freelance">
								<img src="images/300x200/3.jpg" alt="" style="height: 100%; width: auto; display: block; margin-top: 0px; ">
							</a>
							<a href="#" >
								<h4 style="bottom: 0px; ">Print</h4>
							</a>
							<div class="text" style="visibility: visible; overflow: hidden; height: 0px; ">
								<a href="#" >
									<h3>BMR Customs</h3>
								</a>
								<p>Stationary Set | Freelance</p>
							</div>							
						</div> 
					</li>  	
					<li class="web">  
						<div class="inner-item" style="display: block; float: left; ">
							<a href="images/640x480/4.jpg"   class="prettyPhoto" title="Chautauqua Planning - Web Design/Development | Freelance">
								<img src="images/300x200/4.jpg" alt="" style="height: 100%; width: auto; display: block; margin-top: 0px; ">
							</a>
							<a href="#" >
								<h4 style="bottom: 0px; ">Web</h4>
							</a>
							<div class="text" style="visibility: visible; overflow: hidden; height: 0px; ">
								<a href="#" >
									<h3>Chautauqua Planning</h3>
								</a>
								<p>Web Design/Development | Freelance</p>
							</div>							
						</div> 
					</li>	
					<li class="web">  
						<div class="inner-item" style="display: block; float: left; ">
							<a href="images/640x480/5.jpg"   class="prettyPhoto" title="SamanthaSherwin.com - Web Design/Development | Freelance">
								<img src="images/300x200/5.jpg" alt="" style="height: 100%; width: auto; display: block; margin-top: 0px; ">
							</a>
							<a href="#" >
								<h4 style="bottom: 0px; ">Web</h4>
							</a>
							<div class="text" style="visibility: visible; overflow: hidden; height: 0px; ">
								<a href="#" >
									<h3>SamanthaSherwin.com</h3>
								</a>
								<p>Web Design/Development | Freelance</p>
							</div>							
						</div> 
					</li>
					<li class="web">  
						<div class="inner-item" style="display: block; float: left; ">
							<a href="images/640x480/6.jpg"   class="prettyPhoto" title="Small Town Planning - Web Design/Development | Freelance">
								<img src="images/300x200/6.jpg" alt="" style="height: 100%; width: auto; display: block; margin-top: 0px; ">
							</a>
							<a href="#" >
								<h4 style="bottom: 0px; ">Web</h4>
							</a>
							<div class="text" style="visibility: visible; overflow: hidden; height: 0px; ">
								<a href="#" >
									<h3>Small Town Planning</h3>
								</a>
								<p>Web Design/Development | Freelance</p>
							</div>							
						</div> 
					</li>  						
					<li class="web">  
						<div class="inner-item" style="display: block; float: left; ">
							<a href="images/640x480/7.jpg"   class="prettyPhoto" title="SledChautauqua - Web Design/Development | Freelance">
								<img src="images/300x200/7.jpg" alt="" style="height: 100%; width: auto; display: block; margin-top: 0px; ">
							</a>
							<a href="#" >
								<h4 style="bottom: 0px; ">Web</h4>
							</a>
							<div class="text" style="visibility: visible; overflow: hidden; height: 0px; ">
								<a href="#" >
									<h3>SledChautauqua</h3>
								</a>
								<p>Web Design/Development | Freelance</p>
							</div>							
						</div> 
					</li>  	
					<li class="web">  
						<div class="inner-item" style="display: block; float: left; ">
							<a href="images/640x480/8.jpg"   class="prettyPhoto" title="Young Erie Professionals - Web Design/Development | Werkbot">
								<img src="images/300x200/8.jpg" alt="" style="height: 100%; width: auto; display: block; margin-top: 0px; ">
							</a>
							<a href="#" >
								<h4 style="bottom: 0px; ">Web</h4>
							</a>
							<div class="text" style="visibility: visible; overflow: hidden; height: 0px; ">
								<a href="#" >
									<h3>Young Erie Professionals</h3>
								</a>
								<p>Web Design/Development | Werkbot</p>
							</div>							
						</div> 
					</li>  					  						
				</ul>
			</div>
		</div>
	</div>
	<hr>