<!--Featured Slider-->
<div class="sixteen columns white content">
	<div class="container">
		<div id="ei-slider" class="ei-slider">
			<ul class="ei-slider-large">
				<li>
					<img src="images/elastic_slider/1.png" alt="" />
					<div class="ei-title">
						<h2>Luke Weatherlow</h2>
						<h3>Director/Manager</h3>
					</div>
				</li>
				<li>						
					<img src="images/elastic_slider/2_extra.png" alt="" />
					<div class="ei-title">
						<h2> <a href="10-reasons-employees-leave-a-company.html">10 Reasons Why</a></h2>
						<h3><a href="10-reasons-employees-leave-a-company.html">Employees Are Leaving</a></h3>
					</div>								
				</li>
				<li>						
					<img src="images/elastic_slider/2.png" alt="" />
					<div class="ei-title">
						<h2>Web Designer</h2>
						<h3>Award Winning Designs</h3>
					</div>								
				</li>
				<li>
					<img src="images/elastic_slider/3.png" alt=""/>
					<div class="ei-title">
						<h2>Marketing/Strategy</h2>
						<h3>Successful Strategy</h3>
					</div>
				</li>
			</ul>	
			<ul class="ei-slider-thumbs">
				<li class="ei-slider-element">Current</li>						
				<li><a href="#">Slide 1</a><img src="images/elastic_slider/thumbs/1.jpg" alt="" /></li>
				<li><a href="10-reasons-employees-leave-a-company.html">Slide 2</a><img src="images/elastic_slider/thumbs/2_extra.jpg" alt="" /></li>
				<li><a href="#">Slide 3</a><img src="images/elastic_slider/thumbs/2.jpg" alt="" /></li>
				<li><a href="#">Slide 4</a><img src="images/elastic_slider/thumbs/3.jpg" alt="" /></li>
			</ul><!-- ei-slider-thumbs -->				
		</div>
	</div>
	<script type="text/javascript" src="javascript/jquery.eislideshow.js"></script>
	<script type="text/javascript" src="javascript/jquery.easing.1.3.js"></script>
	<script type="text/javascript">
	$(function() {
		$('#ei-slider').eislideshow({
			animation			: 'center',
			autoplay			: true,
			slideshow_interval	: 3000,
			titlesFactor		: 0
		});
	});
	</script>
</div>